node_modules
dist

.shell
src/content/docs/summary/
src/components
src/global.css
utils
tailwind.config.mjs
package.json
bun.lock
astro.config.mjs
tsconfig.json
.astro
plugins
src/pages/og
public/fonts
