---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
    frontmatter={{
        title: "What's this?",
        description: "Sahithyan's 1st semester notes of Engineering",
        pagefind: false,
        tableOfContents: false,
        next: false,
        banner: {
            content: `Now available as a e-book! <a href="#support-me">Buy now</a>`,
        },
    }}
/>
