---
const { href, moduleName, heading } = Astro.props;
---

<li
	class="!mt-0 max-w-sm min-w-64 rounded-lg shadow-sm bg-[var(--sl-color-gray-6)] hover:bg-[var(--sl-color-gray-5)] transition-colors duration-200 cursor-pointer"
>
	<a href={href} class="p-4 block no-underline" target="_blank">
		<div class="!mt-0 text-sm text-[var(--sl-color-text-accent)] font-semibold">
			{moduleName}
		</div>
		<div class="!mt-0 text-xl text-[var(--sl-color-white)] font-medium">
			{heading}
		</div>
	</a>
</li>
