---
const { href, moduleName, heading } = Astro.props;
---

<li
	class="!mt-0 rounded-lg shadow-sm bg-[var(--sl-color-gray-6)] dark:bg-[var(--sl-color-gray-5)] hover:bg-[var(--sl-color-gray-5)] dark:hover:bg-[var(--sl-color-gray-4)] transition-colors duration-200 cursor-pointer"
>
	<a href={href} class="px-4 py-3 grid grid-cols-[1fr_auto] grid-rows-[auto_auto] grid-flow-col no-underline" target="_blank">
		<div class="!mt-0 text-sm text-[var(--sl-color-text-accent)] font-semibold">
			{moduleName}
		</div>
		<div class="!mt-0 text-xl text-[var(--sl-color-white)] font-medium">
			{heading}
		</div>
		<svg
					width="1em"
					height="1em"
					viewBox="0 0 24 24"
					class="opacity-0 pointer-events-none transition-opacity duration-200 row-span-2 color-[var(--sl-color-accent)]"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
					<polyline points="15 3 21 3 21 9" />
					<line x1="10" y1="14" x2="21" y2="3" />
				</svg>
	</a>
</li>
