---
import Default from "@astrojs/starlight/components/SiteTitle.astro";
import LiveUsersCount from "./LiveUsersCount.astro";
---

<div class="flex items-center gap-4 py-1 pr-1">
	<Default {...Astro.props} />
	<LiveUsersCount />
</div>
